ul {
    list-style-type: none;
}

header, footer{
    margin-left: 250px;
    font-size: 30px;
    padding-left: 20px;
    text-align: center;
}

/* Sidebar segment*/
.sidebar{
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    background-color: #ffb300;
}
.sidebar a {
    padding: 5px 20px 5px 40px; /*top rigth bottom left */
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #11165a;
    display: block;
}
.sidebar a:hover {
    opacity: 0.5;
}

.amvlogo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background-repeat: no-repeat;
}
/*New segment - Main*/
.main{
    margin-left: 250px;
    font-size: 20px;
    padding-left: 20px;
}
/*part of main - image container (flexbox)*/
.imgcontainer{
    width: 100%;
    margin-left: -20px;
    color: gray;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
} 


.imgcontainer figure{
    padding: 0 0px 20px 0px;
    margin: auto;
    text-align: center;
}

@media screen and (max-width:1400px){
    
}
/*
.imgcontainer figure img{
    height: 100px;
    width: 100px;
}
*/
.search label, input{
    height: 48px;
    width:fit-content;
    font-size: 40px;
}
.search input{
    margin-bottom: 20px;
    flex-grow: 1;
    border: 1;
    padding: 8px 36px 8px 8px;
    color: red;
    border: 1px solid black;
    border-radius: 4px;
    clear: both;
}
.search input:hover{
    border-color: aqua;
}